* {
    margin: 0;
    padding: 0;
}

.main-page {
    height: 100vh;
    width: 100vw;
}

/* Nav Bar */

.nav-bar {
    display: grid;
    grid-template-columns: 18% 68% 24%;
    margin: 2em;
}

.nav-items {
    display: flex;
}

li {
    margin-left: 2em;
    list-style-type: none;
    cursor: pointer;
}

/* Images */
/* Text */