@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Kumbh Sans, sans serif;
}

.main-page {
    height: 93vh;
    width: 100vw;
}

@media only screen and (max-width: 600px) {
    .main-page {
        display: grid;
    }
}

/* Nav Bar */

.nav-bar {
    display: grid;
    grid-template-columns: 20% 60% 14%;
    margin: 2em;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .nav-bar {
        position: absolute;
        top: -3%;
        left: -20%;
        width: 25rem;
        padding: 5px;
        z-index: 3;
        background-color: #fff;
    }
}

.nav-items {
    display: flex;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .nav-items {
        display: none;
    }
}

.logo-img {
    margin-left: 5em;
}

@media only screen and (max-width: 600px) {
    .logo-img {
        padding-bottom: 1em;
    }
}

li {
    margin-left: 2em;
    list-style-type: none;
    cursor: pointer;
    color: hsl(219, 9%, 45%);
}

.right-nav {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .right-nav {
        position: absolute;
        top: 10%;
        left: 70%;
    }
}

.shopping-cart {
    margin-right: 3em;
    margin-top: .5em;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .shopping-cart {
        margin-top: 0em;
    }
}

.profile-img {
    height: 45px;
    margin-top: -.5em;
}

@media only screen and (max-width: 600px) {
    .profile-img {
        height: 35px;
    }
}

/* 
How to add menu button?
*/

.line {
    background-color: #888888;
    height: 1px;
    width: 80%;
    opacity: 0.3;
    left: 50%;
    transform: translate(10%);
}

@media only screen and (max-width: 600px) {
    .line {
        display: none;
    }
}

/* Main Page */

.beta-half {
    display: grid;
    grid-template-columns: auto auto;
}

@media only screen and (max-width: 600px) {
    .beta-half {
        grid-template-rows: auto auto auto;
    }
}

.images {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .images {
        position: absolute;
        top: 35%;
        left: 50%;
        z-index: 0;
    }
}

.show-img {
    height: 410px;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    .show-img {
        height: 380px;
    }
}

/* 
How to change images?
How to add prev/next buttons?
*/

.preview-img {
    height: 80px;
    border-radius: 12px;
    margin: 1.5em 1.6em .5em 0em;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .small-img {
        display: none;
    }
}

/* 
how to make active state stay?? 
why does img enlarge when clicked?

.preview-img:active {
    border: 2px solid hsl(26, 100%, 55%);
    height: 90px;
    border-radius: 12px;
    margin: .4em .7em .4em 0em;
}
*/

/* Texts */
.all-texts {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .all-texts {
        position: absolute;
        top: 108%;
        left: 50%;
        width: 21em;
    }
}

.sneaker-company, .sneaker-name, .sneaker-description, .prices {
    margin-bottom: 2em;
}

.sneaker-company {
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}

.sneaker-name {
    font-size: 20px;
}

.sneaker-description {
    color: hsl(219, 9%, 45%);
    font-size: 16px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .sneaker-name {
        font-size: 15px;
        text-align: left;
    }
    .sneaker-description {
        line-height: 1.5em;
    }
}

.prices {
    display: grid;
    grid-template-columns: 115px 45px;
}

.new-price {
    font-size: 30px;
}

.discount {
    padding: 2px 5px 2px 5px;
    font-size: 18px;
    align-self: center;
    text-align: center;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    border-radius: 10px;
}

.old-price {
    font-size: 16px;
    margin-top: .5em;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
}

@media only screen and (max-width: 600px) {
    .prices {
        grid-template-columns: 7em 3em 5em;
    }
    .old-price {
        margin-left: 5em;
    }
}

.checkout {
    display: flex;
}

.quantity {
    display: grid;
    grid-template-columns: 30px 80px 5px;
    height: 50px;
    width: 150px;
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
}
#quantity {
    margin: 10px 5px 10px 5px;
    text-align: center;
    align-self: center;
}

#plus, #minus {
    margin: 0em 1em 0em 1em;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
#plus {
    margin-top: .4em;
}

.add-cart {
    display: flex;
    margin-left: 2em;
    height: 50px;
    width: 200px;
    background-color: hsl(26, 100%, 55%);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.add-cart:hover {
    opacity: 0.5;
}

/* 
how to change color of svg??
*/

.add-to-cart {
    background-color: inherit;
    color: #fff;
    height: 15px;
    align-self: center;
    margin-left: 2em;
}

.cart-text {
    padding: 1em;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .checkout {
        display: grid;
    }
    .quantity, .add-cart {
        height: 50px;
        width: 335px;
        margin: 0em;
    }
    .quantity {
        grid-template-columns: auto auto auto;
    }
    .add-to-cart {
        margin-left: 6em;
    }
}