* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: table;
}

.rows {
    background-color: #0a395f;
    perspective: 1000px;
}

.columns {
    float: left;
    width: 33.33%;
    height: 50%;
    border-color: black;
    border-style: solid;
    border-width: 2.5px;
    transition: 450ms ease-in-out;
}

.columns:hove {
    transform: scale(1.05);
}

.card {
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.front, .back {
    text-align: center;
    background: chocolate;
    position: relative;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    background: white;
}

/* */