* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: table;
}

div {
    width: 100%;
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
}

h1 {
    position: absolute;
    top: 40%;
    left: 40%;
    backface-visibility: hidden;
}

.low {
    position: absolute;
    bottom: 3px;
}

.rows {
    background-color: #111;
    perspective: 1000px;
}

.columns {
    float: left;
    width: 33.33%;
    height: 50%;
    border: 2.5px solid black;
    transition: 550ms ease-in-out;
}

.columns:hover {
    transform: scale(1.02);
    box-shadow: 2px 1px 20px 1px #000;
    overflow: hidden;
}

.card {
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.front, .back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front {
    background: rgb(3, 3, 90);
}

.back {
    transform: rotateY(180deg);
    background: #111;
    color: white;
}

/* */