nav>ul>li {
    display: inline-block;
}
  
nav {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    z-index: 1;
    background-color: white;
    overflow: hidden;
    padding: 10px 10px 5px 10px;
}

ul {
    display: flex;
    justify-content: space-between;
}

.primary-nav {
    float: left;
    font-size: 20px;
    width: 60%;
    margin: -2%;
}
  
.primary-nav>a {
    letter-spacing: 5px;
}
  
.primary-nav>img {
    width: 15%;
}
  
.secondary-nav>a {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    letter-spacing: 3px;
    padding-right: 20px;
}
  
.secondary-nav {
    margin-left: 10px;
    font-size: 25px;
}


@media only screen and (max-width: 600px) {
    .secondary-nav {
        display: none;
    }
    .primary-nav {
        margin-left: 2em;
    }
}
  
nav>ul>li>a {
    color: black;
    font-family: helvetica;
    text-decoration: none;
}
  
nav>ul>li>a:hover {
    color: #cb4335;
    transition: .7s ease;
    text-decoration: none;
}