.theSlides1, .theSlides2 {
    display: none;
}

.img1 { flex: 0.75; }
.img2 { flex: 0.75; }
.img3 { flex: 0.75; }
.img4 { flex: 0.75; }
.img5 { flex: 0.75; }

.prev, .next, .next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 12px;
    color: #111;
    background-color: #fff;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

@media only screen and (max-width: 600px) {
    .img1 {flex: 0.95;}
    .img2 {flex: 0.95;}
    .img3 {flex: 0.95;}
    .img4 {flex: 0.95;}
    .img5 {flex: 0.95;}
}

@media only screen and (max-width: 500px) {
    .img1 {flex: 1.95;}
    .img2 {flex: 1.95;}
    .img3 {flex: 0.95;}
    .img4 {flex: 0.95;}
    .img5 {flex: 0.95;}
}

.next {
    right: 15px;
    border-radius: 3px 0 0 3px;
}

.next1 {
    right: 145px;
    border-radius: 3px 0 0 3px;
}

@media only screen and (max-width: 1200px) {
    .next1 {
        right: 125px;
    }
}

@media only screen and (max-width: 992px) {
    .next1 {
        right: 95px;
    }
}

@media only screen and (max-width: 710px) {
    .next1 {
        right: 9%;
    }
}

.prev:hover, .next:hover, .next1:hover {
    background-color: #f1f1f1;
    color: black;
    text-decoration: none;
}