html {
    background: linear-gradient(90deg, #ff9933 , #b35900);
}

#header {
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 35px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

h1 {
    color: darkorange;
    text-align: center center;
    padding-left: 10px;
}

h2 {
    color: darkorange;
    text-align: center;
}

.logo {
    display: flex;
    flex-direction: row;
}

#logo-image {
    width: 5vw;
    height: fit-content;
}

nav {
    font-size: large;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    display: inline;
    float: right;
    padding-top: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 16px;
}

li a:hover {
    background-color: orange;
    transform: scale(1.08);
    transition: 450ms;
    border-radius: 15px;
}

form {
    background: linear-gradient(
        160deg,
        rgb(5, 77, 105),
        rgb(158, 65, 11)
      );
    border-radius: 0.65rem;
}

section {
    margin-top: 65px;
}

.about {
    padding-top: 25px;
}

.column {
    float: right;
    width: 45%;
    padding: 15px;
}

p {
    text-align: center;
    width: 35%;
    padding: 20px;
    margin-left: 5;
}

label {
    display: flex;
    color: white;
    align-items: center;
    font-size: 1.145rem;
    margin-bottom: 0.5rem;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    display: block;
    width: 95%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea {
    min-height: 120px;
    width: 95%;
    padding: 0.625rem;
    border-radius: 0.25rem;
    resize: vertical;
}

.info {
    background-color: white;
    column-fill: auto;
    border-radius: 8px;
    margin-left: 30px;
}