* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    position: fixed;
    width: 100%;
    background: #8ecae6;
}

ul {
    list-style-type: none;
    height: 8vh;
    margin: 0;
    padding: 0;
    background-color: #8ecae6;
    overflow: hidden;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}
  
li a {
    display: block;
    color: #000;
    font-size: 25px;
    padding: 17px 20px;
    text-decoration: none;
    text-align: center;
    transition: 400ms ease-in-out;
}

li a:hover {
    background-color: #111;
    color: #fff;
    text-decoration: underline;
    transform: translateX(5px);
}

.list01 {
    float: right;
    padding-right: 1rem;
}

.ric {
    height: 100vh;
    width: 100%;
}

/* First Section */

.sect1 {
    position: relative;
    display: grid;
    background-color: #023047;
    grid-template-columns: auto auto;
}

h1 {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    width: 100%;
    height: 20%;
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;
    grid-column: 1 / span 2;
}

.img-box1 {
    grid-row: 2 / span 2;
}

.img1 {
    height: 600px;
    width: 850px;
    margin: 0rem 0rem 0rem 2rem;
    border-radius: 5px;
}

.wht-box {
    background-color: #fff;
    height: 12rem;
    width: 25rem;
    margin: 0rem 0rem 0rem 0rem;
    border-radius: 10px;
}

.txt1 {
    text-align: center;
    padding: 2rem;
}

/* Second Section */

.sect2 {
    background-color: #219ebc;
}

/* Third Section */

.sect3 {
    background-color: #ffb703;
}

/* Fourth Section */

.sect4 {
    background-color: #fb8500;
}