@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #77B1A9;
  color: #111;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  position: relative;
  width: 500px;
  padding: 40px 50px;
  background-color: #fff;
  border-radius: 10px;
}

.quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  font-weight: 500;
  font-size: 1.75em;
}

i {
  font-size: 1em;
  margin-right: .5em;
}

.quote-author {
  width: 450px;
  height: auto;
  padding-top: 20px;
  text-align: right;
}

.quote-anime {
  width: 450px;
  height: auto;
  padding-top: 20px;
  text-align: right;
}

.buttons {
  width: 450px;
  margin: auto;
  display: block;
}
    
.button {
  height: 35px;
  color: #111;
  border: none;
  border-radius: 3px;
  font-size: 0.95em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  transition: 300ms ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#tweet-quote {
  float: left;
  padding: 10px;
  padding-top: 5px;
  text-align: center;
  font-size: 1.5em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
  float: right;
}
